.btn:hover {
  transition-property: all;
  transition-duration: 0.3s; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 5px;
  padding-top: 15px;
  background-color: #ffb500;
  color: #332b25;
  background: url("../img/7989501950_80097b7924_k_edit.jpg");
  background-size: cover; }

.row.header {
  text-align: center; }

h1 {
  text-align: center;
  font-size: 60px;
  letter-spacing: .03em;
  color: #a05731; }
  @media (max-width: 600px) {
    h1 {
      font-size: 26px;
      margin-top: 5px; } }

.btn:focus {
  outline: none !important; }

.btn:active {
  box-shadow: none; }

.form-control {
  display: block;
  width: 100%;
  height: 41px;
  padding: 10px 19px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #ffd559;
  background-color: #fba434;
  color: #984506;
  background-image: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPScxLjEnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZycgeG1sbnM6eGxpbms9J2h0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0Jz48cGF0aCBmaWxsPScjNDQ0JyBkPSdNNy40MDYgNy44MjhsNC41OTQgNC41OTQgNC41OTQtNC41OTQgMS40MDYgMS40MDYtNiA2LTYtNnonPjwvcGF0aD48L3N2Zz4=");
  background-position: 99% 50%;
  background-repeat: no-repeat;
  background-size: 16px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; }
  .form-control:focus, .form-control:active {
    outline: none;
    box-shadow: none;
    border-color: none; }

.container {
  max-width: 1000px;
  margin: 0 auto; }

.container.padding {
  margin-top: 10px;
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    .container.padding {
      margin-top: 40px;
      margin-bottom: 40px; } }

@media (min-width: 800px) {
  .row.header {
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: bottom;
    align-items: center; } }

.radio-buttons, .lesson-selector {
  margin-bottom: 10px; }

.radio-buttons label {
  padding: 11px 18px; }

.radio-buttons input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none; }

.radio-buttons .btn {
  background-color: #fba434;
  color: #984506; }

.radio-buttons .btn.active {
  background-color: #ec602a;
  color: white;
  box-shadow: none;
  position: initial; }
  .radio-buttons .btn.active:hover {
    background-color: #ec602a;
    position: initial; }

.radio-buttons .btn:hover {
  background-color: #f49c2b; }

h2#phrase, #answer {
  margin: 0 10px;
  font-size: 25px;
  text-align: center; }
  @media (min-width: 768px) {
    h2#phrase, #answer {
      font-size: 50px; } }

.buttons > div {
  text-align: right; }

.buttons .btn {
  min-width: 100px;
  margin-right: 0; }
  @media (min-width: 768px) {
    .buttons .btn {
      padding: 20px 40px;
      min-height: 60px;
      min-width: 200px; } }

.card-container {
  margin-top: 20px;
  box-shadow: 0px 0px 10px 0px #b38318; }
  .card-container > p {
    color: #d089c5;
    background-color: #92206c;
    padding: 10px 15px;
    margin-bottom: 0;
    font-size: 20px;
    text-align: center; }
    @media (max-width: 767px) {
      .card-container > p {
        padding-top: 5px;
        padding-bottom: 5px; } }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  position: relative;
  background-color: white;
  padding-bottom: 20px; }
  @media (max-width: 767px) {
    .card {
      min-height: 125px; } }

#wordtype {
  position: absolute;
  top: 15px;
  left: 15px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: .05em; }
  @media (max-width: 767px) {
    #wordtype {
      display: none; } }

button {
  margin: 15px; }

.btn {
  border-radius: 0;
  border: 0; }

.btn.back {
  background-color: #4aa6af;
  color: white;
  background-color: #ffd559;
  color: #984506; }

.status {
  padding-top: 10px;
  text-align: right;
  color: #332b25; }

.btn.next {
  transition-property: all;
  transition-duration: 0.3s;
  background-color: #4aa6af; }

.btn.reveal {
  transition-property: all;
  transition-duration: 0.3s;
  background-color: #99cc33; }

.title {
  padding-top: 10px; }
  .title h1 {
    display: none; }
